<!DOCTYPE html>
<head>
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<div class="container">
<!-- <%=params.inspect%> -->
  <h1>Bart or Drive?</h1>
  <br />
  <div class="row-fluid">
    <div class="span12">
      <h2>Results between <%= @a.origin %> & <%= @a.destination %></h2>
      <br />
    </div>
  </div>
  <div class="row-fluid" style ="margin-bottom:20px">
    <div class="span6">
      <h3>The fastest Route is <%=@fastest[:mode] %> and takes this much time:
      <%= @fastest[:result].travel_time / 60 %> minutes and costs <%= @fastest[:result].total_cost / 100.0 %>.</h3>
      </div>
    <div class="span6">
      <h3>The cheapest Route is <%=@cheapest[:mode] %> and takes this much time:
      <%= @cheapest[:result].travel_time / 60 %> minutes and costs <%= @cheapest[:result].total_cost / 100.0 %>.</h3>
    </div>
  </div>
  <a class = "btn btn-inverse btn-large" href="/">Test out Another Route</a>
</div>
</body>
</hmtl>